<div class="pull-right">
  <%= link_to("Add a job",new_admin_job_path,:class =>"btn btn-primary") %>
</div>
<br><br>
<table class ="table table-hover">
  <thead>
    <th>
      职位
    </th>
    <th>
      收到简历数
    </th>
    <th>
      薪资下限
    </th>
    <th>
      薪资上限
    </th>
    <th>
      创建时间
    </th>
    <th>
      管理选项
    </th>
  </thead>


  <tbody>

      <% @jobs.each do |job| %>
    <tr>
      <td>
        <%= render_job_status(job) %>
        <%= link_to(job.title,admin_job_path(job)) %>
      </td>
      <td>
        <%= link_to(job.resumes.count, admin_job_resumes_path(job)) %>
      </td>
      <td>
        <%=job.waga_lower_bound %>
      </td>
      <td>
        <%= job.waga_upper_bound %>
      </td>

      <td>
        <%= job.created_at %>
      </td>
      <td>
        <%= link_to("Edit",edit_admin_job_path(job),class: "btn btn-sm btn-default") %>
        <%= link_to("Delete",admin_job_path(job), class: "btn btn-sm btn-default" ,:method => :delete, :date =>{:confirm => "ARE YOU SURE?"}) %>
        <% if job.is_hidden %>
        <%= link_to("Publish", publish_admin_job_path(job) , :method => :post, :class => "btn btn-xs btn-default") %>
        <% else %>
        <%= link_to("Hide", hide_admin_job_path(job), :method => :post,  :class => "btn btn-xs btn-default") %>
        <% end %>
    </tr>
    <% end %>

  </tbody>
</table>
