<div class= "col-md-4 col-md-offset-4">
  <h2> 新增职位 </h2>
  <hr>
  <%= simple_form_for @job do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :waga_lower_bound, :label =>"薪资下限" %>
  <%= f.input :waga_upper_bound, :label => "薪资上限" %>
  <%= f.input :contact_email, :label =>"联系邮箱" %>
  <%= f.submit"Submit" %>
  <% end %>
</div>
